<ion-view view-title="About">
  <ion-content>
      <div class="list">
          <div class="card" style="padding: 10px">
              <div>
                  Skydiving Winds Aloft is an open-source application for skydivers distributed under
                  <a href="#" onclick="window.open('https://www.apache.org/licenses/LICENSE-2.0', '_system');">Apache License 2.0</a>
              </div>
              <div>
                  By using this application, you agree that you and only you are responsible for any possible consequences, including injury, death and alien invasion.
              </div>
              <p>
              <div>
                  Currently, winds aloft feature is supported for North America (Canada and the USA) only.
              </div>
              <p>
              <div>
                  You are more than welcome to e-mail me if:
                  <ul class="bullet-list">
                      <li>You are a developer and would like to contribute</li>
                      <li>You found a bug or you want to share your feedback or request a feature</li>
                      <li>Your dropzone is not found in the database.</li>
                  </ul>
              </div>
              <p>
              <p>
              <div>
                  Developed by Oleg "Skyclown" Yegorov, 2017
              </div>
              <div>
                  <a href="mailto:skydiving.winds.aloft@gmail.com">skydiving.winds.aloft@gmail.com</a>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
