<ion-view view-title="Weather">
    <ion-nav-buttons side="right" ng-show="weatherLoaded">
        <button class="button" ng-click="reloadWeather();" style="margin-left: 10px">
            <i class="icon ion-refresh"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" ng-show="weatherLoaded">
            <div class="item item-text-wrap" style="text-align: center">
                Weather for {{locationName}}
            </div>

            <div class="card">
                <div class="item item-divider">
                    Ground level
                </div>
                <div class="item item-icon-left">
                    <div class="icon ion-arrow-up-a" rotate degrees="groundWeather.windHeading" style="float: left; margin-right: 5px; margin-top: 0px"></div>
                    <b>{{groundWeather.bearing}}</b>
                    <p>Wind speed: {{groundWeather.windSpeed * 1.852 | number:0}} km/h ({{groundWeather.windSpeed * 1.15 | number:0}} mph)
                    <p>Wind gust: {{groundWeather.windGust * 1.852 | number:0}} km/h ({{groundWeather.windGust * 1.15 | number:0}} mph)
                    <p>Temperature: {{groundWeather.temperature}}&deg; C ({{groundWeather.temperature * 1.8 + 32 | number:0}}&deg; F)
                </div>
            </div>

            <div class="card" ng-repeat="windsAloftRecord in windsAloftRecords">
                <div class="item item-divider">
                    {{windsAloftRecord.altitude}} feet
                </div>
                <div class="item item-icon-left">
                    <div class="icon ion-arrow-up-a" rotate degrees="windsAloftRecord.windHeading" style="float: left; margin-right: 5px; margin-top: 0px"></div>
                    <b>{{windsAloftRecord.bearing}}</b>
                    <p>Wind speed: {{windsAloftRecord.windSpeed * 1.852 | number:0}} km/h ({{windsAloftRecord.windSpeed * 1.15 | number:0}} mph)
                    <p ng-show="windsAloftRecord.temperature != null">Temperature: {{windsAloftRecord.temperature}}&deg; C ({{windsAloftRecord.temperature * 1.8 + 32 | number:0}}&deg; F)
                </div>
            </div>
        </div>
        
        <div class="list" ng-hide="weatherLoaded">
            <div class="card">
                <div class="item item-text-wrap">
                    Please open My Location and specify your dropzone or coordinates.
                </div>
                
                <button class="button button-full button-positive" ng-click="gotoLocationSettings()">
                    Go to My Location
                </button>
            </div>
        </div>
</ion-content>
</ion-view>
