<ion-view view-title="Spotting">
    <ion-nav-buttons side="right" ng-show="locationPresent">
        <button class="button" ng-click="gotoLocationSettings();" style="margin-left: 10px">
            <i class="icon ion-flag"></i>
        </button>
        <button class="button" ng-click="initializeMaps();" style="margin-left: 10px">
            <i class="icon ion-disc"></i>
        </button>
    </ion-nav-buttons>

    <ion-content scroll="false">
        <div ng-show="locationPresent" class="map">
            <div id="map" class="map" data-tap-disabled="true"></div>
        </div>

        <div class="list" ng-hide="locationPresent">
            <div class="card">
                <div class="item item-text-wrap">
                    Please open My Location and specify your dropzone or coordinates.
                </div>

                <button class="button button-full button-positive" ng-click="gotoLocationSettings()">
                    Go to My Location
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>