<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" menu-navigate href="#/app/location">
                    <i class="icon ion-disc"></i>My Location
                </ion-item>
                <ion-item class="item-icon-left" menu-navigate href="#/app/weather">
                    <i class="icon ion-umbrella"></i>Weather
                </ion-item>
                <ion-item class="item-icon-left" menu-navigate href="#/app/map">
                    <i class="icon ion-flag"></i>Spot & Landing
                </ion-item>
                <ion-item class="item-icon-left" menu-navigate href="#/app/settings">
                    <i class="icon ion-gear-a"></i>Settings
                </ion-item>
                <ion-item class="item-icon-left" menu-navigate href="#/app/about">
                    <i class="icon ion-help-circled"></i>About
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
