<ion-view view-title="Settings">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Temperature Units
                </div>
                <select ng-model="unitsSettings.temperatureUnits" ng-change="onUnitsChanged()">
                    <option ng-repeat="u in temperatureUnits">{{u}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Wind Speed Units
                </div>
                <select ng-model="unitsSettings.windSpeedUnits" ng-change="onUnitsChanged()">
                    <option ng-repeat="u in windSpeedUnits">{{u}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Altitude Units
                </div>
                <select ng-model="unitsSettings.altitudeUnits" ng-change="onUnitsChanged()">
                    <option ng-repeat="u in altitudeUnits">{{u}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Distance Units
                </div>
                <select ng-model="unitsSettings.distanceUnits" ng-change="onUnitsChanged()">
                    <option ng-repeat="u in distanceUnits">{{u}}</option>
                </select>
            </label>
            <div class="item-text-wrap" style="text-align: center; margin: 10px">
                Note: for convenience, 3 feet = 1m conversion is used.
            </div>
        </div>
    </ion-content>
</ion-view>
