<ion-view view-title="Weather">
    <ion-nav-buttons side="right" ng-show="weatherLoaded">
        <button class="button" ng-click="gotoLocationSettings();" style="margin-left: 10px">
            <i class="icon ion-disc"></i>
        </button>
        <button class="button" ng-click="reloadWeather();" style="margin-left: 10px">
            <i class="icon ion-refresh"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" ng-show="weatherLoaded">
            <div class="item item-text-wrap" style="text-align: center">
                Weather for {{locationName}}
            </div>
            
            <div class="card">
                <div class="item item-divider">
                    Ground level
                </div>
                <div class="item item-icon-left">
                    <div ng-style="{'visibility': (groundWeather.windSpeed != null && groundWeather.windSpeed >= 1 ? 'visible' : 'hidden') }">
                        <div class="icon ion-arrow-up-a" rotate degrees="groundWeather.windHeading + 180" style="float: left; margin-right: 5px; margin-top: 0px"></div>
                    </div>
                    <b>{{groundWeather.bearing}}</b>
                    <p>Wind speed: {{unitsService.convertWindSpeed(groundWeather.windSpeed, unitsSettings.windSpeedUnits) | number:0}} {{ unitsSettings.windSpeedUnits }}
                    <p>Wind gust: {{unitsService.convertWindSpeed(groundWeather.windGust, unitsSettings.windSpeedUnits) | number:0}} {{ unitsSettings.windSpeedUnits }}
                    <p>Temperature: {{unitsService.convertTemperature(groundWeather.temperature, unitsSettings.temperatureUnits) | number:0}}&deg; {{ unitsSettings.temperatureUnits }}
                </div>
            </div>

            <div class="card" ng-repeat="windsAloftRecord in windsAloftRecords">
                <div class="item item-divider">
                    {{unitsService.convertAltitude(windsAloftRecord.altitude, unitsSettings.altitudeUnits)}} {{unitsSettings.altitudeUnits}}
                </div>
                <div class="item item-icon-left">
                    <div ng-style="{'visibility': (windsAloftRecord.windSpeed != null && windsAloftRecord.windSpeed >= 1 ? 'visible' : 'hidden')}">
                        <div class="icon ion-arrow-up-a" rotate degrees="windsAloftRecord.windHeading + 180" style="float: left; margin-right: 5px; margin-top: 0px"></div>
                    </div>
                    <b>{{windsAloftRecord.bearing}}</b>

                    <p>Wind speed: {{unitsService.convertWindSpeed(windsAloftRecord.windSpeed, unitsSettings.windSpeedUnits) | number:0}} {{ unitsSettings.windSpeedUnits }}
                    <p ng-show="windsAloftRecord.temperature != null">Temperature: {{unitsService.convertTemperature(windsAloftRecord.temperature, unitsSettings.temperatureUnits) | number:0}}&deg; {{ unitsSettings.temperatureUnits }}</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Report details
            </div>
            <div class="item" style="font-size: 80%;">
                <div>
                    <b>Requested on:</b> {{requestedOn | date : 'medium'}}
                </div>
                <div ng-show="groundStationInfo != null">
                    <b>Ground station:</b> {{groundStationInfo}}
                </div>
                <div ng-show="groundStationDistance != null">
                    <b>Dist. to station:</b> {{unitsService.convertWindSpeed(groundStationDistance, unitsSettings.distanceUnits) | number:0}} {{ unitsSettings.distanceUnits }}
                </div>
                <div ng-show="windsAloftAirport != null">
                    <b>W.A. airport:</b> {{windsAloftAirport}}
                </div>
                <div ng-show="windsAloftSource != null">
                    <b>W.A. source:</b> {{windsAloftSource}}
                </div>
                <div ng-show="windsAloftUpdatedOn != null">
                    <b>W.A. updated on:</b> {{windsAloftUpdatedOn | date : 'medium'}}
                </div>
                <div ng-show="windsAloftValidFrom != null">
                    <b>W.A. valid from:</b> {{windsAloftValidFrom | date : 'medium'}}
                </div>
                <div ng-show="windsAloftValidTo != null">
                    <b>W.A. valid to:</b> {{windsAloftValidTo | date : 'medium'}}
                </div>
            </div>
        </div>

        <div class="list" ng-hide="locationPresent">
            <div class="card">
                <div class="item item-text-wrap">
                    Please open My Location and specify your dropzone or coordinates.
                </div>

                <button class="button button-full button-positive" ng-click="gotoLocationSettings()">
                    Go to My Location
                </button>
            </div>
        </div>

        <div class="list" ng-show="errorLoadingWeather">
            <div class="item item-text-wrap" style="text-align: center">
                Could not load weather data for {{locationName}}
            </div>
        </div>
    </ion-content>
</ion-view>
